body{

background:#020617;

font-family:Arial;

display:flex;

justify-content:center;

align-items:center;

height:100vh;

color:white;

}

.quiz{

width:360px;

background:#1e293b;

padding:20px;

border-radius:12px;

box-shadow:0 0 20px cyan;

text-align:center;

}

input{

width:100%;

padding:10px;

margin-bottom:10px;

border-radius:6px;

border:none;

}

.top{

display:flex;

justify-content:space-between;

margin-bottom:10px;

}

#options{

display:flex;

flex-direction:column;

gap:10px;

}

.option{

background:#334155;

padding:12px;

border-radius:8px;

cursor:pointer;

}

.option:hover{

background:#475569;

}

.correct{

background:#16a34a !important;

}

.wrong{

background:#dc2626 !important;

}

button{

width:100%;

padding:12px;

margin-top:10px;

border:none;

border-radius:8px;

background:cyan;

font-weight:bold;

cursor:pointer;

}
