body{

margin:0;
font-family:Arial;
background:linear-gradient(135deg,#0f172a,#020617);

display:flex;
justify-content:center;
align-items:center;

height:100vh;
color:white;

}

.app{

width:360px;

backdrop-filter:blur(15px);

background:rgba(255,255,255,0.05);

border-radius:16px;

padding:20px;

box-shadow:0 0 25px cyan;

text-align:center;

}

input{

width:100%;

padding:12px;

margin-bottom:10px;

border:none;

border-radius:8px;

}

button{

width:100%;

padding:12px;

margin:6px 0;

border:none;

border-radius:8px;

background:cyan;

font-weight:bold;

cursor:pointer;

}

button:hover{

background:#00e5ff;

}

.hidden{

display:none;

}

#options{

display:flex;

flex-direction:column;

gap:10px;

}

.option{

background:rgba(255,255,255,0.1);

padding:10px;

border-radius:8px;

cursor:pointer;

}

.option:hover{

background:rgba(255,255,255,0.2);

}

.correct{

background:green !important;

}

.wrong{

background:red !important;

}

.progress{

height:8px;

background:#1e293b;

border-radius:10px;

margin-bottom:15px;

}

#progressBar{

height:100%;

width:100%;

background:cyan;

border-radius:10px;

}

canvas{

position:fixed;

top:0;
left:0;

z-index:-1;

}

@keyframes fall{

to{

transform:translateY(100vh) rotate(360deg);

}

}
